@model IEnumerable<Esercizio_finale_s7.Models.Prodotto>

@{
    ViewBag.Title = "Home";
}
<div class="background-custom p-4 rounded 4 mb-5">
    <h1 class="text-center fw-bold">Magnate Questa</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <h3 class="text-center">Per vedere il nostro menù esegui l'accesso o registrati</h3>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <h6 class="text-center">Il nostro menù</h6>
        <hr />
        <div class="row">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card mb-3">
                            <img src="~/Content/Images/@item.Foto" class="card-img-top" alt="Immagine del Prodotto" style="height: 180px;">
                            <div class="card-body">
                                <h5 class="card-title">@item.Nome</h5>
                                <p class="card-text">Prezzo: @item.Prezzo</p>
                                <form method="post" action="@Url.Action("AggiungiAlCarrello", "Home")">
                                    @Html.Hidden("id", item.IdProdotto)
                                    @Html.Hidden("nome", item.Nome)
                                    @Html.Hidden("prezzo", item.Prezzo)
                                    <div class="form-group mb-3">
                                        <label for="quantita">Quantità:</label>
                                        <input type="number" class="form-control" name="quantita" min="1" value="1" id="quantita">
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary mb-2">Aggiungi Al Carrello</button>
                                    @Html.ActionLink("Dettagli", "Details", "Prodotto", new { id = item.IdProdotto }, new { @class = "btn btn-outline-primary" })
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>
<div class="background-custom p-4 rounded 4">
    <h3 class="text-center mb-4 fw-bold">La Nostra Storia</h3>

    <div class="row align-items-center">
        <div class="col-md-6">
            <p>
                La pizzeria "Magnate Questa" è un'icona culinaria nel cuore di Roma, con una storia che risale ai tempi antichi della città eterna. Fondata nel 1920 da Giovanni Rossi, un appassionato chef della Capitale, la pizzeria ha saputo mantenere viva la tradizione della vera pizza romana nel tessuto culturale di Roma.
            </p>
            <p>
                La ricetta segreta della pizza "Magnate Questa" è stata tramandata di generazione in generazione, garantendo un sapore autentico e unico che continua a deliziare i palati di locali e turisti da decenni.
            </p>
            <p>
                Situata in un affascinante vicolo nel quartiere Trastevere, il locale conserva ancora l'atmosfera accogliente e familiare delle autentiche pizzerie italiane. Ogni mattina, il forno a legna viene acceso per preparare le pizze, realizzate con ingredienti freschi e di alta qualità.
            </p>
            <p>
                La pizzeria "Magnate Questa" non è solo un luogo dove gustare ottime pizze, ma è diventata nel tempo un punto di incontro per gli amanti della buona cucina e della tradizione italiana. Artisti, intellettuali e personaggi famosi hanno varcato le sue porte, contribuendo a creare un'atmosfera unica e vibrante.
            </p>
            <p>
                Vieni a visitare la pizzeria "Magnate Questa" e immergiti nella storia e nei sapori autentici di Roma!
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="@Url.Content("~/Content/images/immagine2.jpg")" class="rounded" style="max-height: 500px" alt="Trastevere">
        </div>
    </div>
</div>
