@model Esercizio_finale_s7.Models.Ordine

@{
    ViewBag.Title = "Delete";
}
<div class="background-custom p-4 rounded 4">
    <h2>Cancella ordine</h2>

    <h3>Sei sicuro di vole cancellare quest'ordine ?</h3>
    <div class="background-custom">
        <h4>Ordine</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Utente.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Utente.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataOrdine)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataOrdine)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Importo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Importo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IndirizzoConsegna)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IndirizzoConsegna)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoteSpeciali)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoteSpeciali)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Evaso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Evaso)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Cancella" class="mt-2 mb-2 btn btn-outline-danger" /> |
                <a href="@Url.Action("Index")" class="mt-2 mb-2 btn btn-outline-primary" style="text-decoration: none;">Ritorna alla gestione prodotti</a>
            </div>
        }
    </div>
</div>