@model Esercizio_finale_s7.Models.Utente

@{
    ViewBag.Title = "Details";
}
<div class="background-custom p-4 rounded 4">
    <h2>Details</h2>

    <div>
        <h4>Utente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ruolo.Role)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ruolo.Role)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cognome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cognome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Provincia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Provincia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Citta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Citta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Indirizzo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Vai alla Modifica", "Edit", new { id = Model.IdUtente }, new { @class = "my-4 btn btn-outline-primary", style = "text-decoration: none;" }) |
            @Html.ActionLink("Ritorna alla lista Prodotti", "Index", null, new { @class = "mt-2 mb-2 btn btn-outline-primary", style = "text-decoration: none;" })
        </div>
    </div>
</div>