@model Esercizio_finale_s7.Models.Prodotto

@{
    ViewBag.Title = "Delete";
}
<div class="background-custom p-4 rounded 4">
    <h2>Cancella</h2>

    <h3>Sei sicuro di voler cancellare questo prodotto ?</h3>
    <div>
        <h4>Prodotto</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                <img src="~/Content/images/@Model.Foto" class="img-thumbnail" alt="Immagine Prodotto" style="max-height: 180px;" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Prezzo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prezzo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TempoConsegna)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TempoConsegna)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ingredienti)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ingredienti)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="mt-2 mb-2 btn btn-outline-danger" /> |
        <a href="@Url.Action("Index")" class="mt-2 mb-2 btn btn-outline-primary" style="text-decoration: none;">Ritorna alla gestione prodotti</a>
    </div>
        }
    </div>
</div>
