@model IEnumerable<Esercizio_finale_s7.Models.Prodotto>

@{
    ViewBag.Title = "Prodotti";
}
<div class="background-custom p-4 rounded 4">
    <h2>Prodotti</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/Content/Images/@item.Foto" class="card-img-top" style="height: 300px" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nome</h5>
                        <p class="card-text">Prezzo: @item.Prezzo</p>
                        <p class="card-text">Tempo di Consegna: @item.TempoConsegna</p>
                        <p class="card-text">Ingredienti: @item.Ingredienti</p>
                        <div class="btn-group" role="group" aria-label="Actions">
                            @Html.ActionLink("Dettagli", "Details", new { id = item.IdProdotto }, new { @class = "btn btn-outline-primary" }) 
                            @Html.ActionLink("Modifica", "Edit", new { id = item.IdProdotto }, new { @class = "btn btn-outline-primary mx-1" })
                            @Html.ActionLink("Cancella", "Delete", new { id = item.IdProdotto }, new { @class = "btn btn-outline-danger" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <p>
        <a href="@Url.Action("Create")" class="btn btn-outline-primary">Aggiungi Prodotto</a>
    </p>
</div>
